@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brand Detector<br />
    Beirut 90210<br />
    <abbr title="Phone">P:</abbr>
    +961 3 111111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@branddetector.com">Support@branddetector.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@branddetector.com">Marketing@branddetector.com</a>
</address>