@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brand Detector</h1>
    <p class="lead">Brand Detector is a web service platform for detecting brand appearance inside videos.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Brand Detector gives you a powerful, patterns-based way to identify brands appearance inside videos.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Demo</h2>
        <p>Upload your video to identify your brands along with an estimation cost of appearance.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "DemoMain")">Demo &raquo; </a></p>
    </div>
    <div class="col-md-4">
        <h2>Delivrables</h2>
        <p>Brand Detector can analyse your videos and generate different type of delivrables, starting from a PowerPoint presentation, to a static WebPage, or any other customized results. All showing the right mix of Appearance Duration, Cost, and Marking of each frame.</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
    </div>
</div>